<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
<style>

body{
    background-image: url('https://secure.static.tumblr.com/24a9548d2580cd18e4b7a6d818f1737c/8w4ovhp/Mjcn2besk/tumblr_static_4-blue-watercolor-background.jpg');
    background-size: cover;
    background-attachment: fixed;
}
</style>

<script>
$( document ).ready(function() {
if (window.location.pathname === '/locations/213193384'){
$('.currency').append('¥');
}else if (window.location.pathname === '/locations/728021537'){
  $('.currency').append('£');
}else if (window.location.pathname === '/locations/523722982'){
  $('.currency').append('₹');
}else if (window.location.pathname === '/locations/35932492'
  || window.location.pathname === '/locations/167346217'){
  $('.currency').append('$');
}else if (window.location.pathname === '/locations/301343440'){
  $('.currency').append('€');
}
});
</script>


</head>
<body>
<% include ../partials/nav %>

<p class="siteName_city"><%= location %></p>


<!--   <form action="show_submit" method="post" accept-charset="utf-8">
    <input value="<% location.id %>">
    <input  name="<% location.name %>">

  <button id="my_list_button" type="button">Add this City to my List</button>
</form> -->

<button id="my_list_button" type="button">Add this City to my List</button>


<div class="city_thumbs">
  <p id="instagram_pics">Instagram Pics</p>

  <% instagramData.forEach(function(photo){ %>
    <div class="thumb">
      <img class="thumb_pic" src="<%= photo %>" onclick="window.open(this.src)" />
    </div>
  <% });%>
</div>

<div id="costs">
  <p id="city_name">Cost of Living in <%= location %></p>

  <% numbeoData.forEach(function(prices){ %>
      <table>

      <thead>
        <tr>

        </tr>
      </thead>
      <tbody>
        <p id="local_currency">Local Currency</p>
        <% numbeoData.forEach(function(item) { %>
          <tr>
          <td>- <%= item.name %></td>
          <td class="currency"></td>
          <td class="price"><%= item.price.toFixed(2) %></td>
        </tr>

        <% }); %>
      </tbody>
    </table>
     <%= prices.name + prices.price %>
  <% }); %>
</div>

</body>
</html>
